html {
    font-family: arial, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

.logo {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    padding-top: 112px;
    width: 269px;
}

.search {
    text-align: center;
}

.search input {
    width: 480px;
    height: 25px;
}

.options_holder {
    text-align: right;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.options {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 15px;
}

.options div {
    vertical-align: middle;
    text-align: right;
    min-width: 60px;
    padding-left: 15px;
}

.disclaimers {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    margin-left: -10px;
}

.business {
    padding-left: 20px;
    float: left;
}

.user {
    float: right;
    padding-right: 20px;
}

div .login {
    display: inline-block;
    background-color: rgb(66, 133, 244);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.mail {
    padding-top: 10px;
}

.images {
    padding-top: 10px;
}

.apps {
    padding-top: 10px;
}

button {
    border-radius: 2px;
    background-color: rgb(242, 242, 242);
    color: rgb(117, 117, 117);
    border: 1px solid rgb(242, 242, 242);

    padding: 10px;
}

button:hover{
    color: black;
    border: 1px solid blue;
}