html {
    font-family: arial, sans-serif;
    font-size: small;
}
.logo {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    padding-top: 112px;
    width: 269px;
}

.search {
    text-align: center;
}

.search input {
    width: 480px;
    height: 25px;
}

.search button {
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 0 8px;
    margin: 11px 8px;
    min-width: 54px;
    height: 29px;
}

.options_holder {
    text-align: right;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.options {
    display: flex;
    justify-content: flex-end;
}

.options div {
    vertical-align: middle;
    text-align: right;
    min-width: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.disclaimers {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    margin-left: -10px;
}

.business {
    padding-left: 20px;
    float: left;
}

.user {
    float: right;
    padding-right: 20px;
}

.apps {
    height: 30px;
    width: 30px;
    background-image: url("i1_0430b5ba.png");
    background-position: -132px -38px;
}

.images a {
    text-decoration: none;
    color: #000;

}

.images a:hover{
    text-decoration: underline;
}

.mail a {
    text-decoration: none;
    color: #000;
}

.mail a:hover {
    text-decoration: underline;
}
